@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    color: dimgray;
}

.halp-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halp-width img {
    padding-top: 50px;
}
.top-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.client-feedback-area{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

img {
    width: 100%;
}

body {
    margin: 0;
}
.btn-link{
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC5197,#ED4B71);
    padding: 8px 18px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 5px;
    font-weight: 700;
    display: inline-block;
    border-radius: 5px;
}
.client-feedback-area .contact {
    background: linear-gradient(45deg, #EC5197,#ED4B71);
    margin: 50px 380px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
}
.client-feedback-area .contact p {
    color: #fff;
}
.section-text{
    padding-top: 150px;
}
.heighlight {
    display: block;
    font-size: 30px;
    color: #EC4C7A;
}
.latest-work h3 {
    text-align: center;
}

.latest-work img {
    width: 32%;
    padding: 6px;
}

section.latest-work {
    padding: 80px;
}
.client-feedback-area {
    text-align: center;
}
.client-feedback-area span.author{
    color:#939393;
    display: block;
    font-weight: normal;
    font-size: 12px;
    padding-top: 5px;
}
.client-feedback-area p{
    color:#7E7E7E;
    font-weight: 500;
}
p.quote::before{
    content:open-quote;
}
p.quote::after{
    content:close-quote;
}
p.quote {
    padding: 10px 420px;
    color: #333;
}
footer p{
    text-align: center;
    font-size: 12px;
}

